.mantine-Menu-itemLabel {
  display: flex;
  align-items: center;
}

#bikes-table-actions.tabler-icon{
    height: 1.5rem;
    color: #868686;
}

textarea[color="dimmed"] {
  color: #868e96 !important;
}